html {
  @include reset-0;
  scroll-behavior: smooth;
}

body {
  font-family: $body-font-family;
  font-size: $root-font-size;
  font-weight: $font-weight-3;
  @include reset-0;
  background-color: $body-bg-color;
}

code {
  font-family: $code-font-family;
  font-size: $font-size-5;
  font-weight: $font-weight-4;
}

/*
div {
  border: $border;
}
*/

h1, h2, h3, h4 {
  font-weight: $font-weight-4;
}

h1 {
  font-size: $font-size-8;
  margin: $sp-4 0 $sp-2 0;
  padding: 0;
}

h2 {
  font-size: $font-size-7;
  @include reset-0;
}

h3 {
  font-size: $font-size-7;
  @include reset-0;
}

h4 {
  font-size: $font-size-5;
  @include reset-0;
}

ul {
  list-style-type: none;
  @include reset-0;
}

li {
  margin: inherit;
  padding: inherit;
}

a {
  text-decoration: none;
  color: $link-color;
  @include full-width-height;
}

a:hover {
  color: $link-color-hover;
}

button {
  @include reset-0;
}
